.home {
    overflow-y: scroll;
    background-color: #17191d;
    
    ul {
        position: sticky;
        top: 0;
        padding: 15px 0;
        background-color: #282c34;
        margin: 0;
        border-top: 0.5px solid rgba(128, 128, 128, 0.5);
        border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);

        li {
            background-color: grey;
            padding: 5px;
            border: 1x solid rgba(128, 128, 128, 0.5);
            border-radius: 25px;
            margin-right: 10px;

        &:hover {
                background-color: lighten($color: grey, $amount: 20%); 
            }

            a:hover {
               background-color: transparent;
            }
        }
    }
    section {
        height: 537px;

        display: flex;
        flex-wrap: wrap;
        margin: 0;

        h3 {
            width: 335px;
            word-wrap: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 3.6em;
            line-height: 1.8em;
        }
    }
}