.post {
    padding: 20px 20px 0;

    img {
        width: 338px;
        height: 190px;
    }

    h3 {
        margin: 0;
        color: white;
    }

    p {
        margin: 0;
        color: grey;
    }

}